/* Asterisk wildcard selector to override default styles added by the browser. In this case setting all elements in the HTML document with the settings above  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* so that later when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

/* Header */
header {
  background-color: lightcoral;
}

/* Main Content */
main {
  background-color: lightblue;
}

/* Footer */
footer {
  background-color: orange;
}
