/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser. In this case setting all elements in the HTML document with the settings above  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* so that later when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

/* General styles */
body {
  min-height: 100vh; /*allow it to stretch larger than the height of the screen when there isnt enough content on the page that the user needs to scroll.*/
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed; /*When we set the position to fixed, the width of the element is affected because it reverts to content width*/
  z-index: 99;
  width: 100%; /* Making sure the Header fills 100% the width of the screen. Without it, the width will take up as much space as the content */
  box-shadow: 0 2px 2px #3a3a3a; /* Adds shadow effects around an element's frame. The syntax for box shadow looks similar to the border shorthand */
  display: flex; /* Making the check list appears on the top right of the screen after logo */
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit; /* This will take care of the default link color being applied by the browser */

}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; /* Space between the letters*/
  color: #252525;
}

#menu {
    font-size: 1.1rem;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Spacing out vertically the itens Home, Gallery & Sing Up*/
#menu>li {
    margin-bottom: 1em;
}

/* Show to our users where they are in the website.*/
.active {
    border-bottom: 1px solid #3a3a3a;
}
/*Navbar styles with dropdown toggle*/
nav {
    position: absolute; /*Nav element now shows outside the header. The style applied to the header is not valid anymore such as background-color*/
    /* Fixing the header styles not applied to the nav anymore*/
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow:0 2px 2px #3a3a3a;
    display: none; /*Make the navbar hidden until the user clicks to open them*/
    top: 100%; /*Fixing the menu covering the rest of the header by telling the nav element that its top should start at the bottom of its parent.*/

}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display:block
}

/* Hide the checkbox of the Nav toggle*/
#nav-toggle {
    display: none;
}

.nav-toggle-lable {
    font-size: 2rem;
}

/* Main Content */
main {
  background-color: lightblue;
  /* Make main element take up any surplus space push footer down */
  flex: 1 0 auto;
  margin-top: 47px;
}

/* Footer */
footer {
  background-color: orange;
}
